@charset "UTF-8";

@font-face {
    font-family: "droid";
    src: url("content/fontes/idroid.otf") format("otf"), url("content/fontes/idroid.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

:root{
  --fundo: #bcdcfd;
  --subtitulo: #159A9C;
  --subtitulo2: rgb(255, 255, 255);
  --fundosubtgradient: linear-gradient(to right, #159A9C, transparent);
  --destaque: #159A9C;
  --fundo2: #002333;

  --fonte-android: "droid",sans-serif; 
  --fonte-padrao: 'Rubik', sans-serif;;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    font-family: var(--fonte-padrao);
    
}

header{
    font-family: var(--fonte-android);
    color: white;
    text-align: center;
    margin-bottom: 45px;
    background-image: linear-gradient(to bottom, #159A9C 10%, #002333);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.466);
    
}

header > h1 {
  padding-top: 30px;
  font-weight: normal;
  text-shadow: 2px 2px 10px black;
}

#p1{
    padding-top: 20px;
    font-weight: normal;
    padding-bottom: 30px;
    text-shadow: 2px 2px 10px black;
}

#nave{
    text-align: center;
    padding: 10px;
    font-weight: normal;
    
    
}

nav > a {
    text-decoration: none;
    color: #f5f6f7;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    transition: background-color 0.4s ease;
    border-radius: 10px;
    display: inline-block;
}

nav > a:hover{
    color: white;
    background-color: var(--subtitulo);
    border-radius: 10px;
}

footer{
    font-size: 12.5px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--fundo2);
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}

/* Main */

main {
    background-color: rgb(253, 253, 253);
    padding: 25px 45px 20px 40px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
    border-radius: 15px 15px 15px 15px;

}


.subtitulo{
    margin-top: 15px;
    color: var(--subtitulo);
}

.subp{
    border-radius: 10px 0px 0px 10px ;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 4px;
    font-size: 21px;
    color: var(--subtitulo2);
    background-image: var(--fundosubtgradient);
}

.container {
    text-align: center; 
  }

  .container img {
    padding: 15px;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: auto; 
  }

  main  p{
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
  }

  .video-container {
    border-radius: 15px;
    padding: 20px;
    margin: 0px -20px 30px -15px;
    background-color: var(--fundo2);  
    position: relative;
    padding-bottom: 56.25%;  
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  .list{
    display: flex;
    align-items: center;
  }

  .lit{
    flex: 1;
    padding: 20px 20px 20px 60px;
    margin: auto;
   
  }

  .esp {
    text-indent: 40px;
    padding: 10px 30px;
  }

  #qm {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 30px 30px 0px 0px;
    margin-top: 35px;
       
  }

  .art2{
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: var(--fundo2);
    border-radius: 30px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 06px 11px rgba(0, 0, 0, 0.692);

  }



  .princ{
    text-decoration: none;
    color: var(--destaque);
    font-weight: bold;
  }

  a.name{ 
    text-decoration: none;
    color: rgb(61, 61, 61);
    background-color: var(--fundo);
    padding: 2px;
    font-weight: bold;
  }

  a:hover{
    text-decoration: underline;
    color: cornflowerblue;
  }

  a.name::after{
    content: '\0A00\1F517';
  }